*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.parent{
    display: flex;
    flex-direction:row ;
    
    align-items: center;
    margin-top: 20px;
    margin-left: 241px;

}
ul{
    list-style: none;
    display: flex;
    margin-left: 44px;
    gap: 25px;
}
ul:hover{
    text-decoration: underline;
    color:red;
}

.child-one{
    margin-left: 198px;
    margin-right: 27px;

}
.child-two{
   margin-right: 24px; 
}
.child-three{
    position: absolute;
    margin-top: 100px;
    right: 30%;
    top: -11%;

}
 

input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    transition: all;
}
input:hover{
    box-shadow: inset 5px 5px 5px red;
}